body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #796b898c;
}

.top {
  flex-direction: row;
  display: flex;
  gap: 40px;
  height: 100px;
}

.weight1,
.weight2 {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  padding-left: 10px;
}

.start {
  height: 20px;
  margin-top: 40px;
  border-radius: 3px;
  background-color:#f10909db;
}

.characters {
  width: 120px;
  height: 30px;
}

.display {
  height: 100px;
  width: 200px;
  border: 1px solid black;
  margin-top: 30px;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
